/* Main content style */
.main p {
  text-align: justify;
}

.main a {
  text-decoration: none;
}

.main ul {
  list-style-type: square;
}
.main ul li::marker {
  color: #ff961e;
}

.main figure {
  text-align: center;
}
.main figure > img {
  margin: auto;
}

/* Side panels */
div.sidepanels {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}
div.sidepanels-2 > div {
  flex-basis: 250px;
  flex-grow: 1;
}
div.sidepanels-3 > div {
  flex-basis: 166px;
  flex-grow: 1;
}
div.sidepanels > div h2 {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}
div.sidepanels > div h2 > a.header-anchor {
  top: 0;
}
div.sidepanels > div p {
  font-size: 15px;
}
